.env
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/

airflow/logs/*
!airflow/logs/.gitkeep
dbt/target/
dbt/dbt_packages/
dbt/logs/

*.pbix
*.pbit
*.Zone.Identifier

CONTEXTO_PROJETO.md
plano_coingecko_project.md
